a {
  color: #cc616152;
  font-size: 2rem;
  text-decoration: none;
}

a:hover {
  color: cadetblue;
}

* {
  background-color: rgb(75, 75, 75);
}

::selection{
  color: white;
  background-color: rgb(254, 163, 58);
}

:root {
  font-size: 62.5%;
}